.container-escolha{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-escolha{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    flex-direction: row;
}

.botao-escolha{
    margin-left: 30px;
    background-color: #D8A625;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #010F1D;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}