.container-devolucao{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.content-devo{
    display: flex;
}

.titulo-ck{
    justify-self: center;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #AE8008;
}

.check-box-devo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.input-check{
    margin-left: 20px;
}
.botao-enviar{
    align-self: center;
    width: 160px;
    height: 45px;
    background-color: #020b1b;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #dde5ec;
    font-size: 18px;
}