.container-f{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.content-f{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card-fornecedores{
    background-color: #010F1D;
    width: 500px;
    height: 400px;
    border: 2px solid #AE8008;
    border-radius: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.campo-fornecedores{
    width: 480px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.titulo-card-fornecedor{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.label-fornecedores{
    font-weight: bold;
    margin-right: 10px;
}
.add-fornecedores{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #010F1D;
    width: 500px;
    height: 400px;
    border: 2px solid #AE8008;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.add-forn{
    height: 100px;
    width: 100;
}
