.container-reservasf{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.content-reservasf{
    display: flex;
    flex-wrap: wrap;
}
.card-reservasf{
    width: 400px;
    height: 100px;
    background-color: #010F1D;
    border: 2px solid #AE8008;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.campo-reservasf{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.label-reservasf{
    font-weight: bold;
}
.valor-reservasf{
    font-size: 12px;
    align-self: center;
}